<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "business_card"
        version     = "1.0.0" >

    <name>Business Card</name>
    <description>Personal info</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
		Rafał Kwiecień
	</author>
	<platform name="android" />
    
    <splash src="cool" platform="android" qualifier="ldpi" />
    <splash src="cool" platform="android" qualifier="mdpi" />
    <splash src="cool" platform="android" qualifier="hdpi" />
    <splash src="cool" platform="android" qualifier="xhdpi" />
     
	
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
    

</widget>
