<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "business_card"
        version     = "1.0.0" >

    <name>Business Card</name>
    <description>Personal info</description>
    <author href="http://mypersonalwebsite.com" email="johnbrown@gmail.com">
		Rafał Kwiecień
	</author>
	<platform name="android" />
    
    <icon src="icon.png" />
    <splash src="splash.png" />
    <platform name="android">
    <!-- you can use any density that exists in the Android project -->
        <splash src="res/screen/splash.png" density="land-hdpi"/>
        <splash src="res/screen/splash.png" density="land-ldpi"/>
        <splash src="res/screen/splash.png" density="land-mdpi"/>
        <splash src="res/screen/splash.png" density="land-xhdpi"/>

        <splash src="res/screen/splash.png" density="port-hdpi"/>
        <splash src="res/screen/splash.png" density="port-ldpi"/>
        <splash src="res/screen/splash.png" density="port-mdpi"/>
        <splash src="res/screen/splash.png" density="port-xhdpi"/>
</platform>
    <preference name="AutoHideSplashScreen" value="true" />
    <preference name="SplashScreenDelay" value="3000" />
	<plugin name="cordova-plugin-device" spec="2.0.1" />
	<plugin name="cordova-plugin-dialogs" spec="2.0.1" />
    <plugin name="cordova-plugin-network-information" spec="2.0.1" />
    <plugin name="cordova-plugin-device-motion" spec="~2.0.0" />
    <plugin name="cordova-plugin-contacts" spec="~3.0.1" />
    <plugin name="cordova-plugin-splashscreen" spec="~5.0.2" />
    

</widget>
